<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>
  </head>
  <body>
    <h1>
      Dear, <%= @name %>,
    </h1>
    <p>
      To initiate the process for resetting the password for your account, visit the link below:
    </p>
    <h2>
      <%= link @link, to: @link %>
    </h2>
  </body>
</html>